
*.xml
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/.idea/misc.xml
*.pyc
*.pth
*.txt
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/EGG-INFO/not-zip-safe
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/EGG-INFO/PKG-INFO
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/__main__.py
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/__init__.py
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/__init__.py
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/basecommand.py
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/baseparser.py
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/build_env.py
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/cache.py
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/cmdoptions.py
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/commands/__init__.py
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/commands/check.py
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/commands/completion.py
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/commands/configuration.py
deep-learning-assignments/neural-networks-deep-learning/week4/assignment1/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/_internal/commands/download.py
